<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GA_WaitingView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCBBFA461C47B11000A28E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCBBFA5A1C47B11100A28E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCBBFA651C47B11100A28E96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
